/* Configurações gerais */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f7fa;
    color: #222;
}


/* Título */

header {
    text-align: center;
    padding: 50px 20px;
}

header h1 {
    font-size: 42px;
    color: #1e293b;
}


/* Área principal */

.hero {
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px 20px 80px;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 50px;
}


/* Imagem */

.imagem {
    width: 40%;
}

.imagem img {
    width: 100%;
    max-width: 400px;

    display: block;

    border-radius: 15px;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}


/* Texto */

.texto {
    width: 50%;
}

.texto h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #1e293b;
}

.texto p {
    font-size: 18px;
    line-height: 1.7;
    color: #64748b;
    margin-bottom: 20px;
}


/* Responsividade */

@media (max-width: 768px) {

    header h1 {
        font-size: 32px;
    }

    .hero {
        flex-direction: column;
        gap: 35px;
    }

    .imagem,
    .texto {
        width: 100%;
    }

    .imagem img {
        max-width: 350px;
        margin: 0 auto;
    }

    .texto h2 {
        font-size: 28px;
    }

    .texto p {
        font-size: 16px;
    }
}
